

.Input_word
{
    width: 80%;
    height: 40px;
    border: 1px solid teal;
    padding: 0 10px;
    font-size: 14px;
    color: teal;
    outline: none;
    margin: auto;
    display: inline-block;
}